<!DOCTYPE html>
<html lang="en">
<head>
    <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
/>

    <link rel="stylesheet" href="styles.css">
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in/ Sign up</title>
</head>
<body>


     <% if(locals.errors) { %>
        <%- include("partials/errors") %>
    <%}%>
    <% if(!locals.user) { %>
        <%- include("login") %>
       
    <%} else {%> 
        <h3><%=locals.user.name%>'s files</h3>
    
    <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Log out</a>

    <%-include("partials/userFolders")%>

    
    <%-include("partials/userFiles")%>
    <%-include("partials/upload-form")%>
    <%}%>
</body>
</html>